In [ ]:
# !pip install implicit

In [1]:
import pandas as pd
import tqdm
import implicit
from implicit.evaluation import mean_average_precision_at_k

In [127]:
train = pd.read_parquet('processed_train.parquet')
val = pd.read_parquet('processed_val.parquet')

In [128]:
val.head()

,event_date,event_timestamp,vacancy_id_,cookie_id,user_id,event_type
0,2022-08-02,1659470229,100667,ae863aa1dee04c2e86e5b6c1edaacdbf,None,show_vacancy
1,2022-09-27,1664281122,237747,524d61cb9f9d4e0cb55475507f68c10c,09bd0baa7f9040de91eddc5f7d25fe10,show_vacancy
2,2022-09-03,1662226287,200510,5ce0081b0a0b4181b901fb6742f8995b,4241bf4b2a4b4f58957c5b0625da0bad,show_vacancy
3,2022-08-15,1660584754,259855,53966f5e759c45fbaa3efdf86080eb38,None,show_vacancy
4,2022-09-30,1664541111,258065,9cdbfdcb9ac54958bf38f72515c739d8,None,show_vacancy

In [129]:
# найдем топ-5 вакансий (бейзлайн)
reactions = {
    'show_vacancy': 0, 
    'preview_click_vacancy': 0, 
    'click_response': 1,
    'click_contacts': 1, 
    'preview_click_response': 1, 
    'click_favorite': 0,
    'preview_click_favorite': 0, 
    'preview_click_contacts': 1, 
    'click_phone': 1,
    'preview_click_phone': 1
}

cookie_event_df = train[['vacancy_id_', 'event_type']].copy()
cookie_event_df['action'] = cookie_event_df['event_type'].apply(lambda x: reactions[x])


# вакансии в порядке популярности по целевым действиям
sorted_vacancy = cookie_event_df[cookie_event_df['action'] == 1]['vacancy_id_'].value_counts()
top_5 = list(sorted_vacancy.iloc[:5].index)
top_5

[116823, 182870, 207423, 198114, 174953]

In [130]:
train['action'] = train['event_type'].apply(lambda x: reactions[x])
val['action'] = val['event_type'].apply(lambda x: reactions[x])

In [131]:
train['event_type'] = train['action'].astype('uint8')
train['vacancy_id_'] = train['vacancy_id_'].astype('category')
train['cookie_id'] = train['cookie_id'].astype('category')

val['event_type'] = val['action'].astype('uint8')
val['vacancy_id_'] = val['vacancy_id_'].astype('category')
val['cookie_id'] = val['cookie_id'].astype('category')

In [132]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9779404 entries, 0 to 9779403
Data columns (total 7 columns):
 #   Column           Dtype
---  ------           -----
 0   event_date       object
 1   event_timestamp  int64
 2   vacancy_id_      category
 3   cookie_id        category
 4   user_id          object
 5   event_type       uint8
 6   action           int64
dtypes: category(2), int64(2), object(2), uint8(1)
memory usage: 398.2+ MB

In [8]:
from scipy.sparse import csr_matrix

In [42]:
# sparse_item_user = csr_matrix((train['action'].astype(float), 
#                                (train['vacancy_id_'].cat.codes, 
#                                 train['cookie_id'].cat.codes)))

sparse_user_item = csr_matrix((train['action'].astype(float), 
                               (train['cookie_id'].cat.codes, 
                                train['vacancy_id_'].cat.codes)))

# val_sparse_item_user = csr_matrix((val['action'].astype(float), 
#                                (val['vacancy_id_'].cat.codes, 
#                                 val['cookie_id'].cat.codes)))

val_sparse_user_item = csr_matrix((val['action'].astype(float), 
                               (val['cookie_id'].cat.codes, 
                                val['vacancy_id_'].cat.codes)))

In [84]:
# Словарь, в котором cookie_id ключ, а его категория - значение
cookie_cat_dict = dict(zip( train['cookie_id'], train['cookie_id'].cat.codes ))
cat_cookie_dict = dict(zip( train['cookie_id'].cat.codes, train['cookie_id'] ))
vacancy_cat_dict = dict(zip( train['vacancy_id_'].cat.codes, train['vacancy_id_'] ))

In [66]:
vacancy_cat_dict

{38530: 139779,
 57494: 159237,
 86993: 189558,
 81402: 183798,
 113752: 217242,
 67634: 169652,
 143247: 248153,
 36506: 137696,
 83373: 185819,
 89889: 192562,
 15871: 116402,
 153157: 258369,
 19306: 119913,
 140806: 245634,
 145969: 250946,
 123643: 227566,
 57899: 159647,
 86415: 188962,
 106207: 209422,
 19248: 119855,
 55506: 157197,
 102237: 205345,
 101856: 204957,
 15421: 115936,
 45840: 147302,
 115384: 218939,
 124616: 228577,
 34940: 136075,
 76495: 178754,
 73007: 175173,
 138955: 243725,
 95306: 198181,
 10078: 110421,
 146646: 251651,
 154894: 260154,
 145366: 250327,
 34918: 136053,
 51879: 153475,
 141793: 246652,
 37244: 138463,
 52978: 154605,
 10337: 110687,
 114298: 217807,
 147900: 252945,
 27194: 128093,
 87641: 190219,
 34728: 135856,
 48937: 150462,
 64655: 166590,
 8620: 108924,
 145714: 250685,
 154352: 259594,
 98499: 201477,
 62741: 164602,
 138290: 243039,
 105436: 208619,
 4353: 104502,
 106028: 209234,
 99598: 202630,
 7870: 108154,
 77088: 179362,
 71526: 173659,
 146822: 251830,
 139397: 244177,
 39476: 140752,
 95800: 198692,
 2801: 102902,
 76679: 178942,
 110003: 213344,
 58058: 159813,
 114986: 218529,
 99217: 202230,
 154087: 259320,
 72613: 174770,
 122213: 226070,
 107780: 211040,
 114178: 217683,
 72792: 174953,
 74879: 177096,
 60508: 162315,
 1351: 101396,
 136335: 241013,
 104022: 207156,
 76613: 178874,
 47231: 148714,
 40953: 142280,
 17329: 117897,
 106855: 210085,
 39063: 140331,
 72702: 174861,
 91643: 194375,
 11503: 111890,
 9651: 109979,
 57075: 158808,
 59342: 161127,
 72096: 174240,
 114652: 218176,
 100717: 203792,
 39370: 140643,
 59923: 161721,
 63508: 165392,
 80079: 182439,
 16963: 117525,
 139298: 244077,
 90569: 193265,
 65118: 167070,
 82735: 185165,
 11554: 111941,
 74543: 176749,
 100340: 203404,
 74753: 176963,
 25587: 126436,
 124611: 228572,
 41687: 143040,
 85025: 187537,
 62840: 164702,
 10156: 110503,
 75592: 177824,
 14922: 115420,
 95242: 198114,
 7364: 107631,
 95628: 198514,
 137139: 241845,
 14683: 115174,
 75235: 177460,
 40888: 142214,
 154169: 259404,
 153166: 258378,
 108087: 211355,
 17555: 118129,
 83459: 185906,
 17113: 117679,
 33734: 134836,
 42213: 143574,
 142424: 247299,
 79729: 182084,
 44396: 145811,
 4819: 104986,
 98233: 201201,
 99630: 202663,
 14719: 115210,
 32780: 133850,
 89375: 192032,
 85519: 188039,
 99577: 202608,
 81593: 183990,
 10139: 110485,
 102189: 205295,
 43381: 144775,
 62636: 164495,
 10441: 110793,
 127393: 231500,
 134479: 239021,
 50594: 152155,
 126896: 230978,
 16959: 117521,
 100398: 203463,
 27995: 128920,
 99547: 202578,
 81247: 183638,
 43114: 144501,
 4960: 105134,
 45939: 147404,
 133563: 238046,
 99461: 202488,
 105367: 208550,
 103086: 206204,
 77740: 180028,
 46117: 147584,
 114: 100120,
 141436: 246285,
 151771: 256943,
 137166: 241872,
 13049: 113482,
 102270: 205381,
 152993: 258200,
 65411: 167372,
 13147: 113586,
 76580: 178841,
 7678: 107954,
 42057: 143416,
 47931: 149428,
 95883: 198779,
 665: 100690,
 135034: 239624,
 96486: 199399,
 117632: 221291,
 17344: 117912,
 42736: 144113,
 63773: 165672,
 49109: 150635,
 17738: 118317,
 2323: 102402,
 104303: 207444,
 96626: 199540,
 2358: 102437,
 139260: 244039,
 41395: 142732,
 10315: 110665,
 62454: 164312,
 59113: 160894,
 10026: 110368,
 149837: 254932,
 86621: 189173,
 151146: 256299,
 148636: 253706,
 110340: 213703,
 92305: 195070,
 11061: 111437,
 109003: 212305,
 140733: 245558,
 100173: 203232,
 6441: 106678,
 76011: 178249,
 19633: 120252,
 8548: 108852,
 87013: 189578,
 75039: 177258,
 52800: 154426,
 2840: 102941,
 36609: 137806,
 41563: 142909,
 112418: 215852,
 16306: 116849,
 139599: 244389,
 7143: 107402,
 46058: 147524,
 87455: 190030,
 4457: 104609,
 53430: 155070,
 154420: 259664,
 6825: 107073,
 142290: 247162,
 12876: 113305,
 152616: 257813,
 140970: 245800,
 70863: 172973,
 92117: 194873,
 149655: 254748,
 93810: 196629,
 15455: 115971,
 130285: 234561,
 130866: 235177,
 8045: 108331,
 27721: 128639,
 89336: 191991,
 116353: 219951,
 4246: 104392,
 126794: 230874,
 111904: 215331,
 73945: 176141,
 11939: 112343,
 121115: 224923,
 108449: 211729,
 68095: 170133,
 2230: 102305,
 122458: 226330,
 3878: 104013,
 116296: 219892,
 23619: 124395,
 7957: 108242,
 102731: 205845,
 111404: 214814,
 18016: 118600,
 60824: 162639,
 34464: 135584,
 101110: 204195,
 103536: 206664,
 85032: 187544,
 27281: 128183,
 43344: 144736,
 52992: 154619,
 124827: 228799,
 56021: 157728,
 32095: 133138,
 81893: 184299,
 148493: 253557,
 84062: 186539,
 123800: 227727,
 45076: 146512,
 154508: 259754,
 33069: 134147,
 2938: 103044,
 75970: 178208,
 52231: 153839,
 48513: 150025,
 137986: 242726,
 148568: 253635,
 147755: 252797,
 75861: 178097,
 85220: 187733,
 43577: 144974,
 48323: 149831,
 115142: 218688,
 104410: 207552,
 83156: 185595,
 138530: 243286,
 106997: 210229,
 71220: 173337,
 67289: 169299,
 132997: 237449,
 92712: 195492,
 79900: 182259,
 79958: 182317,
 116078: 219661,
 103008: 206126,
 77138: 179413,
 95561: 198443,
 88294: 190896,
 16172: 116710,
 81356: 183751,
 136077: 240744,
 45698: 147155,
 26993: 127887,
 82421: 184837,
 393: 100411,
 132898: 237341,
 16798: 117358,
 52889: 154515,
 154419: 259663,
 18838: 119437,
 62622: 164481,
 71937: 174075,
 153970: 259199,
 8031: 108317,
 139249: 244028,
 65608: 167571,
 6790: 107037,
 97461: 200405,
 42041: 143398,
 40153: 141452,
 72974: 175138,
 109023: 212325,
 75756: 177990,
 148188: 253239,
 3752: 103881,
 104282: 207423,
 14057: 114531,
 47065: 148545,
 79745: 182100,
 145183: 250142,
 148609: 253678,
 2476: 102559,
 142099: 246964,
 2723: 102819,
 121636: 225472,
 61276: 163098,
 74201: 176398,
 35354: 136514,
 93069: 195860,
 117981: 221652,
 89616: 192279,
 76404: 178659,
 23169: 123928,
 85623: 188145,
 4682: 104844,
 2585: 102674,
 44277: 145689,
 85696: 188219,
 35089: 136232,
 129115: 233309,
 95240: 198112,
 151090: 256243,
 151526: 256690,
 143648: 248568,
 53198: 154831,
 60668: 162480,
 11124: 111505,
 75041: 177260,
 9545: 109869,
 117758: 221419,
 92854: 195638,
 143153: 248055,
 58481: 160244,
 33770: 134872,
 4751: 104914,
 10903: 111277,
 56058: 157767,
 67993: 170028,
 65463: 167425,
 87469: 190044,
 90425: 193116,
 74732: 176942,
 112276: 215709,
 32408: 133459,
 111150: 214549,
 26586: 127463,
 51233: 152802,
 47538: 149024,
 9366: 109685,
 152098: 257279,
 33442: 134534,
 43891: 145294,
 53428: 155068,
 18927: 119528,
 51581: 153164,
 42201: 143562,
 149960: 255062,
 15953: 116485,
 79979: 182338,
 104229: 207368,
 70906: 173016,
 84854: 187360,
 43117: 144504,
 62561: 164419,
 102471: 205583,
 102928: 206045,
 43102: 144488,
 133475: 237953,
 139481: 244265,
 108228: 211500,
 94567: 197411,
 8118: 108410,
 31481: 132506,
 47918: 149415,
 140010: 244811,
 64703: 166644,
 49126: 150653,
 111758: 215179,
 11265: 111647,
 66277: 168250,
 6364: 106598,
 57392: 159130,
 3493: 103615,
 135740: 240387,
 70535: 172639,
 153782: 259008,
 64444: 166369,
 83787: 186254,
 81313: 183704,
 11720: 112113,
 38569: 139818,
 152906: 258111,
 7969: 108254,
 66290: 168263,
 107004: 210236,
 70359: 172459,
 54211: 155865,
 29134: 130102,
 34937: 136072,
 139633: 244424,
 104165: 207302,
 13792: 114256,
 149711: 254804,
 25406: 126251,
 13254: 113699,
 10284: 110633,
 90653: 193352,
 113464: 216948,
 41656: 143008,
 31979: 133019,
 11333: 111716,
 120893: 224694,
 77389: 179667,
 10185: 110533,
 64236: 166150,
 76812: 179082,
 30787: 131792,
 105424: 208607,
 70607: 172712,
 114111: 217615,
 81902: 184308,
 59193: 160976,
 131167: 235495,
 152107: 257288,
 14400: 114884,
 62388: 164246,
 98324: 201296,
 153929: 259157,
 100106: 203161,
 92165: 194924,
 4636: 104796,
 107967: 211231,
 88662: 191293,
 39090: 140358,
 54371: 156027,
 43358: 144750,
 52687: 154310,
 114598: 218118,
 109248: 212561,
 116136: 219723,
 81165: 183553,
 123982: 227921,
 59912: 161710,
 95490: 198371,
 96593: 199507,
 88749: 191382,
 124324: 228270,
 119897: 223648,
 89419: 192077,
 114651: 218175,
 584: 100607,
 13137: 113575,
 19809: 120432,
 88660: 191291,
 100689: 203762,
 74089: 176285,
 10822: 111193,
 103114: 206232,
 62608: 164467,
 141713: 246570,
 63380: 165262,
 80903: 183285,
 19403: 120016,
 95775: 198666,
 121664: 225500,
 101262: 204353,
 34963: 136100,
 65162: 167117,
 37957: 139189,
 91405: 194122,
 128162: 232307,
 96081: 198987,
 131096: 235420,
 90022: 192697,
 145137: 250096,
 50488: 152046,
 31735: 132770,
 148681: 253752,
 82772: 185203,
 10523: 110878,
 7917: 108201,
 6631: 106874,
 56821: 158549,
 138819: 243583,
 21631: 122326,
 107379: 210631,
 82979: 185414,
 52077: 153678,
 146677: 251682,
 313: 100329,
 142735: 247629,
 27164: 128062,
 78720: 181053,
 119220: 222942,
 7963: 108248,
 145817: 250789,
 100434: 203499,
 5520: 105714,
 6697: 106943,
 65051: 167001,
 63052: 164923,
 103314: 206434,
 101252: 204343,
 114648: 218172,
 90070: 192746,
 3563: 103688,
 139051: 243825,
 2282: 102359,
 21433: 122122,
 111468: 214882,
 124097: 228036,
 127024: 231114,
 56769: 158496,
 31643: 132676,
 106383: 209600,
 41268: 142604,
 23414: 124178,
 123532: 227451,
 101122: 204208,
 69594: 171671,
 33052: 134129,
 149750: 254844,
 56097: 157808,
 103231: 206350,
 50440: 151993,
 74970: 177188,
 96529: 199442,
 150882: 256024,
 57400: 159138,
 145835: 250808,
 110646: 214016,
 145628: 250596,
 109699: 213028,
 50070: 151616,
 100901: 203983,
 140971: 245801,
 93724: 196539,
 148561: 253628,
 113224: 216704,
 110623: 213993,
 104363: 207505,
 7532: 107804,
 151878: 257052,
 79957: 182316,
 146936: 251951,
 93895: 196715,
 109311: 212627,
 100818: 203898,
 29178: 130147,
 84998: 187510,
 79700: 182054,
 145894: 250869,
 118: 100124,
 109627: 212953,
 104722: 207874,
 79231: 181577,
 69546: 171623,
 112193: 215624,
 153229: 258441,
 66925: 168918,
 78636: 180967,
 4425: 104577,
 10265: 110614,
 41517: 142861,
 42964: 144346,
 14300: 114780,
 42354: 143718,
 62727: 164588,
 123328: 227237,
 66447: 168426,
 152672: 257871,
 144348: 249290,
 76954: 179224,
 100814: 203894,
 149041: 254120,
 101335: 204427,
 60137: 161940,
 127945: 232077,
 280: 100292,
 153408: 258622,
 150437: 255560,
 87425: 189998,
 87758: 190337,
 75139: 177361,
 141545: 246396,
 31400: 132423,
 101541: 204634,
 46788: 148263,
 140096: 244902,
 32400: 133451,
 2700: 102794,
 139411: 244191,
 79926: 182285,
 101850: 204951,
 15428: 115943,
 10317: 110667,
 68855: 170912,
 141597: 246450,
 116264: 219860,
 26707: 127592,
 46162: 147629,
 53803: 155452,
 15948: 116480,
 80170: 182532,
 79533: 181884,
 23811: 124594,
 48968: 150494,
 150703: 255834,
 25454: 126300,
 141724: 246581,
 25441: 126286,
 92681: 195461,
 16194: 116732,
 35466: 136632,
 100580: 203649,
 75899: 178135,
 10608: 110967,
 99548: 202579,
 39635: 140917,
 6439: 106676,
 10223: 110571,
 71239: 173357,
 81042: 183425,
 9138: 109455,
 133406: 237881,
 87539: 190115,
 27373: 128278,
 118166: 221846,
 70879: 172989,
 83834: 186304,
 8189: 108483,
 47691: 149180,
 10440: 110792,
 103185: 206304,
 132712: 237139,
 80174: 182536,
 56788: 158515,
 91046: 193756,
 7021: 107278,
 37966: 139198,
 131551: 235901,
 115122: 218668,
 106553: 209779,
 150591: 255721,
 146658: 251663,
 128842: 233016,
 95439: 198318,
 48302: 149810,
 64935: 166883,
 103505: 206633,
 10222: 110570,
 90534: 193230,
 46190: 147657,
 58682: 160452,
 95087: 197950,
 108152: 211421,
 57585: 159328,
 147436: 252464,
 93087: 195878,
 136303: 240980,
 154130: 259363,
 136154: 240826,
 51568: 153151,
 107261: 210503,
 8961: 109274,
 144274: 249215,
 47968: 149467,
 95527: 198409,
 3550: 103674,
 44140: 145549,
 75880: 178116,
 147558: 252589,
 42344: 143708,
 28375: 129316,
 58655: 160424,
 87664: 190242,
 137903: 242642,
 74297: 176495,
 49878: 151417,
 141845: 246704,
 86558: 189109,
 43593: 144992,
 45786: 147244,
 65302: 167260,
 108927: 212226,
 95253: 198126,
 142648: 247535,
 140836: 245664,
 21801: 122505,
 97495: 200441,
 57876: 159624,
 19831: 120454,
 15586: 116104,
 145078: 250033,
 79732: 182087,
 25069: 125906,
 13862: 114328,
 110503: 213869,
 2796: 102896,
 10630: 110990,
 58211: 159970,
 153575: 258796,
 145422: 250385,
 62373: 164231,
 71704: 173838,
 118759: 222461,
 144413: 249355,
 52927: 154554,
 81465: 183862,
 66846: 168836,
 11700: 112093,
 141928: 246788,
 95281: 198156,
 47738: 149229,
 87707: 190285,
 150095: 255201,
 122015: 225865,
 144895: 249847,
 100823: 203903,
 25267: 126110,
 81969: 184375,
 3260: 103376,
 95857: 198751,
 9699: 110030,
 70123: 172213,
 93890: 196710,
 100091: 203146,
 58857: 160630,
 103974: 207108,
 17346: 117914,
 53786: 155434,
 30: 100033,
 52850: 154476,
 14830: 115326,
 67057: 169057,
 7363: 107630,
 68922: 170984,
 7481: 107751,
 112569: 216009,
 143343: 248252,
 26061: 126921,
 44391: 145806,
 48761: 150279,
 153855: 259081,
 91176: 193888,
 76021: 178259,
 17377: 117946,
 1024: 101065,
 145642: 250612,
 90699: 193399,
 42428: 143794,
 52898: 154524,
 72426: 174582,
 51699: 153283,
 76910: 179180,
 72277: 174427,
 56038: 157746,
 13359: 113808,
 28831: 129787,
 140680: 245504,
 20242: 120877,
 2818: 102919,
 72086: 174230,
 127268: 231371,
 53209: 154842,
 117491: 221145,
 70258: 172356,
 13243: 113688,
 6149: 106376,
 14107: 114583,
 152551: 257747,
 95653: 198542,
 1540: 101593,
 75635: 177868,
 4340: 104489,
 33964: 135072,
 145204: 250163,
 139221: 243999,
 71762: 173897,
 100620: 203690,
 137755: 242487,
 70172: 172265,
 70326: 172426,
 36511: 137702,
 149968: 255070,
 47810: 149301,
 126358: 230416,
 33621: 134719,
 48765: 150283,
 42910: 144291,
 81697: 184098,
 100403: 203468,
 96653: 199567,
 87919: 190506,
 109945: 213282,
 145735: 250706,
 49712: 151247,
 51661: 153245,
 74963: 177180,
 145484: 250449,
 3547: 103671,
 80023: 182382,
 97557: 200506,
 69288: 171359,
 88876: 191512,
 61857: 163692,
 105446: 208629,
 65770: 167737,
 144743: 249693,
 4324: 104473,
 86700: 189255,
 34630: 135755,
 31709: 132744,
 79145: 181490,
 42579: 143953,
 150300: 255417,
 149959: 255061,
 61177: 162997,
 67187: 169194,
 119068: 222783,
 142340: 247213,
 17211: 117778,
 144287: 249229,
 144735: 249684,
 79120: 181465,
 8962: 109275,
 142242: 247111,
 113598: 217084,
 12213: 112624,
 151778: 256950,
 121105: 224913,
 136360: 241040,
 62865: 164728,
 2592: 102681,
 119609: 223345,
 58198: 159957,
 49617: 151151,
 151106: 256259,
 10432: 110784,
 105721: 208912,
 82710: 185140,
 97464: 200408,
 138526: 243282,
 3644: 103772,
 13504: 113959,
 113971: 217469,
 136864: 241551,
 111399: 214809,
 150988: 256136,
 59015: 160792,
 37808: 139038,
 107347: 210597,
 45528: 146978,
 103036: 206154,
 65462: 167424,
 114696: 218223,
 107116: 210355,
 51912: 153508,
 139525: 244312,
 11082: 111459,
 92216: 194976,
 25625: 126474,
 45099: 146535,
 140247: 245058,
 52584: 154201,
 28563: 129510,
 129863: 234115,
 1327: 101372,
 77651: 179934,
 116165: 219755,
 53889: 155539,
 18611: 119206,
 15183: 115690,
 77191: 179468,
 128137: 232282,
 143922: 248852,
 89613: 192275,
 150075: 255181,
 71633: 173766,
 150420: 255543,
 92424: 195193,
 118858: 222567,
 11299: 111681,
 91005: 193714,
 86812: 189371,
 46312: 147779,
 85149: 187662,
 5768: 105974,
 153938: 259166,
 141714: 246571,
 126099: 230145,
 43974: 145381,
 139118: 243892,
 5964: 106179,
 4674: 104836,
 150868: 256008,
 5647: 105847,
 71722: 173856,
 56518: 158242,
 93803: 196621,
 142249: 247119,
 64634: 166567,
 67606: 169622,
 122334: 226195,
 140233: 245043,
 124355: 228303,
 123547: 227467,
 64975: 166923,
 61778: 163610,
 37015: 138228,
 67172: 169179,
 51690: 153274,
 20341: 120979,
 49891: 151430,
 52356: 153970,
 36414: 137604,
 25279: 126122,
 1251: 101296,
 130117: 234385,
 149557: 254649,
 121777: 225618,
 153655: 258879,
 142401: 247276,
 65371: 167330,
 51380: 152954,
 10981: 111356,
 27015: 127910,
 114410: 217924,
 132162: 236554,
 45929: 147394,
 127895: 232025,
 132800: 237234,
 86259: 188803,
 122072: 225925,
 107876: 211140,
 58371: 160132,
 55743: 157445,
 70116: 172205,
 44596: 146014,
 30744: 131749,
 145017: 249972,
 44661: 146079,
 106292: 209508,
 45017: 146453,
 56724: 158451,
 25567: 126415,
 81322: 183713,
 152636: 257833,
 6072: 106293,
 144905: 249857,
 34899: 136034,
 79398: 181745,
 151340: 256498,
 80096: 182456,
 15663: 116188,
 15347: 115862,
 72379: 174534,
 103985: 207119,
 52990: 154617,
 ...}

In [13]:
sparse_user_item.shape

(330179, 154908)

In [14]:
len(cookie_cat_dict)

330179

In [152]:
#Building the model
model = implicit.als.AlternatingLeastSquares(factors=20, 
                                             regularization=0.05, 
                                             iterations=20,
                                             alpha=40
                                            )
# alpha_val = 40
# data_conf = (sparse_user_item * alpha_val).astype('double')
model.fit(sparse_user_item)

  0%|          | 0/20 [00:00<?, ?it/s]

In [50]:
# map12 = mean_average_precision_at_k(model, sparse_user_item, val_sparse_user_item, K=5, show_progress=True)

  0%|          | 0/321347 [00:00<?, ?it/s]

In [51]:
map12

2.1099552128315424e-05

In [52]:
cookie_id = 154909
model.recommend(cookie_id, 
              sparse_user_item[cookie_id], 
#               N=5,
#               filter_already_liked_items=True # не рекомендовать просмотренные
             )

(array([41848, 78102, 32276, 59851, 46309, 96031, 65809, 18967, 50216,
        80501], dtype=int32),
 array([0.5812351 , 0.44192925, 0.43181863, 0.33391142, 0.3337102 ,
        0.31531382, 0.2989831 , 0.29778242, 0.2889478 , 0.27705458],
       dtype=float32))

In [69]:
# функция, которая делает предсказание для одного куки
def make_prediction(cookie_id, top_n=5):
    # если этого юзера видим впервые, то выдаем для него бейзлайн
    if not cookie_id in cookie_cat_dict:
        return top_5
    
    cookie_id = cookie_cat_dict[cookie_id]
    
    recommended = model.recommend(cookie_id, 
                              sparse_user_item[cookie_id], 
                              N=top_n,
                              filter_already_liked_items=True # не рекомендовать просмотренные
                             )
    recommended = [vacancy_cat_dict[rec] for rec in recommended[0]]
    return recommended

In [70]:
make_prediction(cookie_id = '000cd76cd33f43d4a1ac1d16d10f8bf7')

[146630, 246815, 164698, 215620, 117525]

In [71]:
# Делаем предсказание для списка куки
def make_prediciton_column(cookies):
    lst = []
    for cookie in tqdm.tqdm(cookies):
        prediction = make_prediction(cookie)
        lst.append(prediction)
    return lst

Попробуем **на валидации**

In [117]:
val['predicted'] = make_prediciton_column(val['cookie_id'])

In [ ]:
val['true_positive'] = val.apply(lambda x: len(set(x['vacancy_id_']) & set(x['predicted'])), axis=1)
val['precision@5'] = val.apply(lambda x: len(set(x['vacancy_id_']) & set(x['predicted'])) / 5, axis=1)

In [ ]:
val.head()

In [ ]:
# усредним метрику
val['precision@5'].mean()

In [ ]:
# сколько ненулевых?
val[val['true_positive'] != 0]

In [80]:
!pip install optuna

Collecting optuna
  Downloading optuna-3.1.1-py3-none-any.whl (365 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 365.7/365.7 kB 1.3 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: numpy in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from optuna) (1.24.2)
Requirement already satisfied: packaging>=20.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from optuna) (21.3)
Requirement already satisfied: sqlalchemy>=1.3.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from optuna) (1.4.39)
Requirement already satisfied: PyYAML in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from optuna) (6.0)
Requirement already satisfied: tqdm in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from optuna) (4.64.1)
Collecting cmaes>=0.9.1
  Downloading cmaes-0.9.1-py3-none-any.whl (21 kB)
Collecting alembic>=1.5.0
  Downloading alembic-1.10.4-py3-none-any.whl (212 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 212.9/212.9 kB 5.0 MB/s eta 0:00:00a 0:00:01
Collecting colorlog
  Downloading colorlog-6.7.0-py2.py3-none-any.whl (11 kB)
Requirement already satisfied: typing-extensions>=4 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from alembic>=1.5.0->optuna) (4.3.0)
Collecting Mako
  Downloading Mako-1.2.4-py3-none-any.whl (78 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.7/78.7 kB 3.1 MB/s eta 0:00:00
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from packaging>=20.0->optuna) (3.0.9)
Requirement already satisfied: MarkupSafe>=0.9.2 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from Mako->alembic>=1.5.0->optuna) (2.0.1)
Installing collected packages: Mako, colorlog, cmaes, alembic, optuna
Successfully installed Mako-1.2.4 alembic-1.10.4 cmaes-0.9.1 colorlog-6.7.0 optuna-3.1.1

In [136]:
# Подбираем гиперпараметры
import optuna
from sklearn.model_selection import train_test_split
import implicit

# Определяем пространство поиска для гиперпараметров
def objective(trial):
    
    factors = trial.suggest_int('factors', 50, 200, step=50)
    regularization = trial.suggest_loguniform('regularization', 1e-3, 1e-2)
    iterations = trial.suggest_int('iterations', 50, 200, step=50)
    
    # Используем гиперпараметры
    model = implicit.als.AlternatingLeastSquares(factors=factors, regularization=regularization, iterations=iterations)
    model.fit(train_df)
    
    # Оцениваем модель на val (5 рандомных юзеров)
    userids = [250946, 227566, 159647, 188962, 209422]
    precs5 = []

    for id_ in userids:
        ids = model.recommend(id_, sparse_user_item[id_], N=5, filter_already_liked_items=True)[0]
        # что порекомендовали
        recommended = [vacancy_cat_dict[rec] for rec in ids]

        # правильный ответ
        cookie = cat_cookie_dict[id_]
        answers = list(train[(train['cookie_id'] == cookie) 
                             & (train['action'] == 1)]['vacancy_id_'].unique())

        prec5 = len(set(answers) & set(recommended)) / 5
        precs5.append(prec5)

    score = sum(precs5) / len(precs5)
    
    return score

# Делим
train_df, val_df = train_test_split(sparse_user_item, test_size=0.2, random_state=42)

study = optuna.create_study(direction='maximize')
study.optimize(objective, n_trials=1)

print("Best Parameters: ", study.best_params)
print("Best Score: ", study.best_value)

[I 2023-05-01 02:30:38,924] A new study created in memory with name: no-name-7a5a1164-6300-425e-af12-572a57443c57
/var/folders/zp/d17ccr3n4jg8w2cyw6g062fw0000gn/T/ipykernel_39490/1550989161.py:10: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  regularization = trial.suggest_loguniform('regularization', 1e-3, 1e-1)

  0%|          | 0/100 [00:00<?, ?it/s]

[I 2023-05-01 02:44:48,516] Trial 0 finished with value: 0.0 and parameters: {'factors': 50, 'regularization': 0.0019835724808245506, 'iterations': 100}. Best is trial 0 with value: 0.0.

Best Parameters:  {'factors': 50, 'regularization': 0.0019835724808245506, 'iterations': 100}
Best Score:  0.0

0.0

Попробуем **на тесте**

In [153]:
test_df = pd.read_parquet('test_public_mfti.parquet', engine='pyarrow')

In [154]:
test_df['predicted'] = make_prediciton_column(test_df['cookie_id'])

100%|████████████████████████████████████████| 772/772 [00:01<00:00, 726.04it/s]

In [155]:
test_df['true_positive'] = test_df.apply(lambda x: len(set(x['vacancy_id_']) & set(x['predicted'])), axis=1)
test_df['precision@5'] = test_df.apply(lambda x: len(set(x['vacancy_id_']) & set(x['predicted'])) / 5, axis=1)

In [156]:
test_df.head()

,cookie_id,vacancy_id_,predicted,true_positive,precision@5
0,000cd76cd33f43d4a1ac1d16d10f8bf7,"[222177, 222173, 222163, 238874, 238878, 22812...","[111867, 146630, 246815, 207423, 164698]",0,0.0
1,0034bc7f404341ba8412665453e7825a,"[102794, 137587, 257319, 237756, 240744, 11348...","[171332, 190928, 101462, 209422, 205630]",0,0.0
2,00a6c5a64a274c55a836402bdeb3b2c4,"[254292, 164602, 116438, 228634, 218819, 24065...","[244077, 181745, 113305, 154411, 187662]",0,0.0
3,015937a125b14e74bdff1cddc49f9172,"[246685, 138123, 115420, 210628, 212325, 235196]","[193331, 114583, 120252, 210628, 220718]",1,0.2
4,01de50c280794cec8804f16f45f847b7,"[219070, 251469, 166899, 212703, 214561]","[253946, 138634, 137702, 128278, 104528]",0,0.0

In [157]:
# усредним метрику
test_df['precision@5'].mean()

0.03471502590673576

In [158]:
# сколько ненулевых?
test_df[test_df['true_positive'] != 0]

,cookie_id,vacancy_id_,predicted,true_positive,precision@5
3,015937a125b14e74bdff1cddc49f9172,"[246685, 138123, 115420, 210628, 212325, 235196]","[193331, 114583, 120252, 210628, 220718]",1,0.2
8,029c6b8042064d0899fd73f3290da565,"[227966, 177500, 232571, 230260, 238550, 25626...","[253946, 208761, 104528, 252155, 256268]",1,0.2
12,043b9752285e491ea4d34807dcc94065,"[207423, 240649, 116651, 119608, 221920, 21530...","[207423, 230707, 237341, 203404, 220718]",3,0.6
32,0a8b14d1a6ef450d90033d85effab74a,"[113189, 142272, 213146, 235254, 238136, 23496...","[207423, 252639, 173306, 184858, 138634]",1,0.2
47,0feb43e6f85c47bfa245b599b62669ce,"[103028, 225472, 243145, 253119, 238572]","[106729, 183704, 211897, 191702, 225472]",1,0.2
...,...,...,...,...,...
723,ee828a37d71a4963a0bccf0c76297545,"[207423, 230707, 217606, 237288, 214513, 18208...","[210628, 179082, 221920, 214513, 212325]",2,0.4
732,f3b9473d542a4b4284ed7aeb1d1100c9,"[234893, 236510, 235946, 238691, 108345, 19999...","[148714, 149024, 105907, 108242, 247276]",1,0.2
750,f891793414134632b5d3f6478c5f308a,"[203404, 111837, 210628, 214513, 230707, 234305]","[198114, 203404, 164602, 237341, 111867]",1,0.2
753,f9372a43299b47478848db2f1af3f00e,"[237631, 240455, 107024, 227451, 237341, 240045]","[237341, 207423, 198114, 138634, 203404]",1,0.2
763,fd5c778538f64fc2bf79f34444e378b4,"[211220, 208667, 220718, 243009, 182870, 14871...","[207423, 210628, 221920, 220718, 214513]",1,0.2

**Приватный датасет**

In [111]:
test_private_df = pd.read_parquet('test_private_users_mfti.parquet', engine='pyarrow')

In [112]:
test_private_df['vacancy_id_'] = make_prediciton_column(test_private_df['cookie_id'])

100%|██████████████████████████████████████| 3086/3086 [00:05<00:00, 556.90it/s]

In [113]:
test_private_df

,cookie_id,vacancy_id_
0,0018914ba3e54011b28fa715583d3354,"[253946, 259320, 208761, 138634, 104528]"
1,0035c298d8c64f368ae730a9cca9bb20,"[138123, 135430, 202608, 214466, 109360]"
2,00956458877448ec9fba87fb97443fdf,"[260154, 253678, 171332, 116900, 246285]"
3,0099387c921b41e7bae6c99dd8254b60,"[260154, 103881, 153970, 173337, 250327]"
4,009f65e8ae99413a8da94a491320580a,"[138123, 214466, 135430, 146444, 120188]"
...,...,...
3081,ffadd195859444d2ade2479b0611c5c1,"[158242, 110421, 182870, 174953, 207423]"
3082,ffbc08b528c64f22996873fc63872202,"[113707, 153245, 119337, 150283, 129787]"
3083,ffdeaf3c34544529880aebf17c103f6c,"[257631, 260154, 111867, 181976, 123467]"
3084,ffefa79a74804ee69e6c131e0d05b948,"[260154, 250327, 253678, 117532, 140184]"
3085,fff0c04c0cd54c67bb5fd79ae7b1145b,"[115589, 210229, 159495, 163708, 173832]"

In [114]:
test_private_df.to_parquet('test_private_sample_submission_mfti.parquet')

In [115]:
pd.read_parquet('test_private_sample_submission_mfti.parquet')

,cookie_id,vacancy_id_
0,0018914ba3e54011b28fa715583d3354,"[253946, 259320, 208761, 138634, 104528]"
1,0035c298d8c64f368ae730a9cca9bb20,"[138123, 135430, 202608, 214466, 109360]"
2,00956458877448ec9fba87fb97443fdf,"[260154, 253678, 171332, 116900, 246285]"
3,0099387c921b41e7bae6c99dd8254b60,"[260154, 103881, 153970, 173337, 250327]"
4,009f65e8ae99413a8da94a491320580a,"[138123, 214466, 135430, 146444, 120188]"
...,...,...
3081,ffadd195859444d2ade2479b0611c5c1,"[158242, 110421, 182870, 174953, 207423]"
3082,ffbc08b528c64f22996873fc63872202,"[113707, 153245, 119337, 150283, 129787]"
3083,ffdeaf3c34544529880aebf17c103f6c,"[257631, 260154, 111867, 181976, 123467]"
3084,ffefa79a74804ee69e6c131e0d05b948,"[260154, 250327, 253678, 117532, 140184]"
3085,fff0c04c0cd54c67bb5fd79ae7b1145b,"[115589, 210229, 159495, 163708, 173832]"